<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <th:block th:replace="fragments/header :: headercss"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="starter-template">
    <h1>403 - Access Denied</h1>
    <div th:inline="text">Hello [[${#httpServletRequest.remoteUser}]], you do not have access to this page.</div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>